# Compiled files
*.pyc
*.class
*.out

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Itellij classes
*.ipr
*.iws

# projectile files
.projectile

# tags file
TAGS
GTAGS
GPATH
GRTAGS

# pyenv file
.python-version
