[user]
	name = Deepak Khidia
	email = deepakk@spotify.com
[color]
	ui = auto
[push]
	default = current
[pull]
	default = current
	rebase = true
[merge]
	tool = vimdiff
[core]
	excludesfile = /Users/deepakk/.gitignore
