" Sections:
"    -> General
"    -> VIM user interface
"    -> Files and backups
"    -> Text, tab and indent related
"    -> Visual mode related
"    -> Moving around, tabs and buffers
"    -> Editing mappings
"    -> Misc
"    -> Helper functions
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => General
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Sets how many lines of history VIM has to remember
set history=500

" With a map leader it's possible to do extra key combinations
" like <leader>w saves the current file
let mapleader = " "
let g:mapleader = " "

" set hybrid numbering
set number relativenumber
set surround

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" make Y behave like D and C, yanking till end of line
map Y y$

" don't overwrite register when pasting over selection
vnoremap p pgvy

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => VIM user interface
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Set 7 lines to the cursor - when moving vertically using j/k
set so=7

" Turn on the WiLd menu
set wildmenu

"Always show current position
set ruler

" Height of the command bar
set cmdheight=2

" Configure backspace so it acts as it should act
set backspace=eol,start,indent
set whichwrap+=<,>,h,l

" Ignore case when searching
set ignorecase

" When searching try to be smart about cases
set smartcase

" Highlight search results
set hlsearch

" Makes search act like search in modern browsers
set incsearch

" Don't redraw while executing macros (good performance config)
set lazyredraw

" For regular expressions turn magic on
set magic

" Show matching brackets when text indicator is over them
set showmatch
set matchpairs

" How many tenths of a second to blink when matching brackets
set mat=2

" No annoying sound on errors
set visualbell
set noerrorbells
set t_vb=
set tm=500

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Files, backups and undo
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Turn backup off, since most stuff is in SVN, git et.c anyway...
set nobackup
set nowb
set noswapfile


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Text, tab and indent related
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Use spaces instead of tabs
set expandtab

" Be smart when using tabs ;)
set smarttab

" 1 tab == 4 spaces
set shiftwidth=4
set tabstop=4

" Linebreak on 500 characters
set lbr
set tw=500

set ai "Auto indent
set si "Smart indent
set wrap "Wrap lines

""""""""""""""""""""""""""""""
" => Visual mode related
""""""""""""""""""""""""""""""
" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Moving around, tabs, windows and buffers
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Disable highlight when <leader><cr> is pressed
map <silent> <leader><cr> :noh<cr>

nnoremap gh gT
nnoremap gl gt

map s :action AceAction<CR>

nnoremap <leader>wl <C-W>l
nnoremap <leader>wh <C-W>h
nnoremap <leader>wj <C-W>j
nnoremap <leader>wk <C-W>k
nnoremap <leader>wm    :action VimWindowOnly<cr>:action HideAllWindows<cr>
nnoremap <leader>wd :action CloseActiveTab<cr>
nnoremap <leader>wL         :action MoveTabRight<cr>
nnoremap <leader>wo         :action MoveEditorToOppositeTabGroup<cr>
nnoremap <leader>w- <C-W>s
nnoremap <leader>w/    :action SplitVertically<cr>
nnoremap <leader>bb    :action RecentFiles<cr>
nnoremap <leader>b<C-d>    :action CloseAllEditorsButActive<cr>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Misc
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Quickly open a buffer for scribble
map <leader>bs :e ~/scratch<cr>

" Open .ideavimrc
map <leader>fed :e ~/.ideavimrc<cr>

" Reload settings
map <leader>feR :source ~/.ideavimrc<cr>

" Editor actions
" increment number: <C-a>
" decrement number: <C-x>
nnoremap <C-i>              :action Forward<cr>
nnoremap <C-o>              :action Back<cr>
nnoremap <C-x>0             :action CloseAllEditors<cr>
nnoremap <leader>!          :action Terminal.OpenInTerminal<cr>
nnoremap <leader>*          :action FindUsages<cr>
nnoremap <leader>/          :action FindInPath<cr>
nnoremap <leader>;          :action CommentByLineComment<CR>
vnoremap <leader>;          :action CommentByLineComment<CR>
nnoremap g,                 :action JumpToNextChange<CR>
nnoremap g;                 :action JumpToLastChange<CR>
nnoremap <leader><Space>    :action GotoAction<cr>
nnoremap <leader><tab>      <C-S-6>
nnoremap <leader>?          :map<cr>
nnoremap <leader>bi         :action FileStructurePopup<cr>
nnoremap <leader>cc         :action CompileDirty<cr>
nnoremap <leader>cl         :action CommentByLineComment<cr
nnoremap <leader>cy         yyP:action CommentByLineComment<cr>
vnoremap <leader>cy         <Esc>yyP:action CommentByLineComment<cr>
nnoremap <leader>ee         :action Tool_Editors_Emacs<cr>
nnoremap <leader>er         :action ShowIntentionActions<cr>
nnoremap <leader>ex         :action ShowErrorDescription<cr>
nnoremap <leader>fN         :action NewElement<cr>
nnoremap <leader>fR         :action RenameFile<cr>
nnoremap <leader>fr         :action RecentFiles<CR>
nnoremap <leader>ff         :action GotoFile<cr>
nnoremap <leader>fh         :action LocalHistory.ShowHistory<cr>
nnoremap <leader>fn         :action NewClass<cr>
nnoremap <leader>gb         :action Annotate<cr>
nnoremap <leader>gc         :action Git.CompareWithBranch<cr>
nnoremap <leader>gfl        :action Vcs.ShowTabbedFileHistory<cr>
nnoremap <leader>gl         :action Github.Open.In.Browser<cr>
nnoremap <leader>gs         :action Vcs.Show.Local.Changes<cr>
nnoremap <leader>gt         :action GotoTest<cr>
nnoremap <leader>is         :action InsertLiveTemplate<CR>
nnoremap <leader>mrg        :action Generate<cr>
nnoremap <leader>oi         :action OptimizeImports<cr>
nnoremap <leader>p!         :action ActivateTerminalToolWindow<cr>
nnoremap <leader>ry         :action PasteMultiple<cr>
nnoremap <leader>sc         :nohlsearch<cr>
nnoremap <leader>se         :action RenameElement<cr>
nnoremap <leader>sh         :action HighlightUsagesInFile<cr>
nnoremap <leader>T          :action RerunFailedTests<cr>
nnoremap <A-Space>    wh:action EditorHungryBackSpace<CR>
nnoremap <leader>zr         :action EditorResetFontSize<cr>
vnoremap <leader>em         :action ExtractMethod<cr>
vnoremap =                  :action ReformatCode<cr>
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Helper functions
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
